@media only screen and (min-width: 68.0em) {

    /*Keep all CSS here for specificity*/
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    figcaption {
        opacity: 1;
    }

    figure:hover {
        box-shadow: 0 0 10px #474a48;
    }

    /*Stay above this bracket*/
}